[submodule "public_emotouch"]
	path = public_emotouch
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/public_emotouch.git
[submodule "pyt_abstractions"]
	path = pyt_abstractions
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/pyt_abstractions.git
[submodule "gui"]
	path = gui
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/gui_abstractions.git
[submodule "doc"]
	path = doc
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/readme_files.git
