[submodule "gui"]
	path = gui
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/gui_abstractions.git
[submodule "doc"]
	path = doc
url=https://github.com/AdrianArtacho/salta_docs.git
[submodule "pyt"]
	path = pyt
	url = https://AdrianArtacho@bitbucket.org/smoothspaces/pyt_abstractions.git
[submodule "pub"]
	path = pub
	url = https://AdrianArtacho@bitbucket.org/AdrianArtacho/public_emotouch.git
